{
    "host": "{{ host }}",
    "port": "{{ port }}",
    "user": "{{ username }}",
    "password": "{{ password }}",
    "uri": "postgres://{{username}}:{{ password }}@{{ host }}:{{ port }}/{{ database }}?sslmode=require"
}