{
    "host": "{{ host }}",
    "port": "{{ port }}",
    "user": "{{ username }}",
    "password": "{{ password }}",
    "uri": "mysql://{{username}}:{{ password }}@{{ host }}:{{ port }}/{{ database }}?ssl-mode=REQUIRED"
}